.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  color: #a26655;
  font-size: 2em;
}

.trait {
  background-color: #5a0008;
  color: #eee;
  border: #cbc18f solid 4px;
  border-width: 4px 0 4px 4px;
  padding: 2px;
}

.trait:last-child {
  border-right-width: 4px;
}

.alignment {
  background-color: #5b6091;
}

.size {
  background-color: #447b5a;
}

body {
  padding: 20px;
}

.csv::after {
  content: ', '
}

.csv:last-child::after {
  content: '';
}

.oxford-comma:last-child::before {
  content: 'and ';
}

.oxford-comma:first-child::before {
  content: '';
}

.scsv::after {
  content: '; '
}

.scsv:last-child::after {
  content: '';
}

.effects {
  padding-left: 20px;
  list-style: disc;
}

.effects .ability {
  display: list-item;
}

.action-cost-icon {
  height: 15px;
}

.markdown p:first-child {
  display: inline;
}

.markdown p {
  margin: 0;
}

.description {
  margin-bottom: 10px;
}

.description .markdown p {
  margin-top: 10px;
}

.save-result {
  padding-left: 20px;
}

.clickable {
  cursor: pointer;
}

.cards {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card {
  list-style: none;
  flex-basis: 24%;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 5px;
}

.completed {
  background-color: #61dafb;
}

ul {
  padding-left: 20px;
  margin: 0;
}

.search {
  text-align: center;
}

.search-box {
  width: 60%;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  border: 1px solid black;
}

.matched {
  text-align: center;
  color: lightgray;
  font-size: 0.7em;
}